:root {
  --color-main: #00b7a9;
}

#homepage {
  overflow-x: hidden;
}

body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/* Welcome Section */
.welcome {
  background: var(--color-main);
}

#gif {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.welcome h1 {
  font-family: urbane-rounded, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(253, 253, 253);
  text-align: center;
  margin: 0;
}

/* Common */
.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section:nth-child(even) {
  background: #f8f8f6f6;
}

.container {
  width: 100%;
}

.paragraph {
  width: 100%;
}

.phone-holder {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.phone video {
  width: 100%;
}

h2 {
  font-family: urbane-rounded, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--color-main);
}

p {
  font-family: urbane-rounded, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #525252;
  position: relative;
  left: 0.88em;
  line-height: 1.5em;
}

/* Section Team */
.tags_container {
  position: relative;
}

.tags {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* Pips */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.9;
  }
  40% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.3;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.9;
  }
  40% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.3;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.pg-pips {
  opacity: 0;
  display: none;
}

.extra {
  display: none;
}

.visible {
  display: block;
}

.appear {
  opacity: 1;
  display: flex;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.disappear {
  opacity: 0;
  display: flex;
  -webkit-animation-name: fadeOut;
  -webkit-animation-duration: 0.19s;
  animation-name: fadeOut;
  animation-duration: 0.19s;
}

nav {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
nav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 8px; /* pips 사이 간격 */
  position: relative;
}
nav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

nav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 9px;
  width: 9px;
  border: 0;
  /* -webkit-box-shadow: 2px 1px 10px 3px rgba(226, 162, 51, 1);
  -moz-box-shadow: 2px 1px 10px 3px rgba(226, 162, 51, 1);
  box-shadow: 2px 1px 13px 3px rgba(226, 162, 51, 1); */
  background-color: #00b7a8c2;
  /* left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  padding: 1px; */
  transition: all 0.1s ease-in-out;
}

nav span:after {
  position: absolute;
  content: "";
  display: block;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 100%;
  transition: 0.3s;
}

nav li .active span:after {
  -webkit-box-shadow: 2px 1px 10px 3px rgba(226, 162, 51, 1);
  -moz-box-shadow: 2px 1px 10px 3px rgba(226, 162, 51, 1);
  box-shadow: 2px 1px 13px 3px rgba(226, 162, 51, 1);
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
}

/* Media query */
@media (min-width: 375px) {
  /* 팀 소개 모바일용 수정하기 */
  .container {
    max-width: 375px;
    margin: 0 auto;
  }
  .welcome .container {
    display: flex;
    align-items: center;
  }
  .welcome h1 {
    font-size: 0.9em;
    letter-spacing: 1px;
    line-height: 2em;
  }
  .paragraph {
    position: static;
    margin-left: 1em;
  }
  h2 {
    font-size: 1rem;
    line-height: 0;
    margin: 0 0;
  }
  p {
    width: 90%;
    font-size: 0.8rem;
  }
  .phone-holder {
    padding-top: 20%;
  }
  /* .homepage .phone video {
    position: relative;
  } */

  .tags_container {
    height: 0;
  }
  /* .tags {
    position: static;
  } */
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
  .welcome h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1rem;
  }
  p {
    width: 100%;
  }

  .paragraph {
    margin-top: 1.5em;
  }

  .tags {
    bottom: 4em;
  }
  .tags_container {
    height: 0;
  }
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    height: 100%;
    margin: 0 auto;
  }
  .grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav ul li {
    width: 0;
    margin: 8px 0;
  }
  .welcome h1 {
    font-size: 1.6em;
    letter-spacing: 5px;
  }
  .paragraph {
    position: relative;
    margin-left: 0;
  }
  h2 {
    width: 100%;
    font-size: 2rem;
    line-height: 3rem;
    margin: 35px 0;
  }
  p {
    font-size: 1rem;
  }

  .phone-holder {
    position: relative;
    height: calc(100vh - 17%);
    margin: 0 auto;
    padding-top: 0;
    transform: translateY(10%);
  }
  .phone {
    position: absolute;
    top: 0;
    /* center 정렬 */
    left: 50%;
    transform: translateX(-50%);
    /*  */
    width: 70%;
    height: 100%;
    margin: 0 auto;
    background: url(img/Phone_without_innershadow.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .phone video {
    display: block;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 80%;
    height: calc(100vh - 40%);
    margin: 0 auto;
  }
  .tags {
    bottom: 0;
  }
}

@media (min-width: 992px) {
  .container {
    flex-direction: row;
    max-width: 992px;
  }
  .welcome h1 {
    font-size: 2em;
  }

  .paragraph {
    position: static;
    transform: translateY(20%);
    /* margin-top: 10em; */
  }

  .phone {
    position: absolute;
    width: 90%;
    transform: translate(-45%, 10%);
  }
  .phone video {
    top: 15%;
  }

  .team > .container {
    align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .paragraph {
    margin-left: 2em;
    /* bottom: 0; */
  }
  .welcome h1 {
    font-size: 2.2em;
    letter-spacing: 7px;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  p {
    font-size: 1.2rem;
  }

  /* .homepage .phone video {
    top: 80px;
  } */
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
  /* .homepage .phone-holder {
    width: 80%;
    top: 5em;
  } */
  /* .homepage .phone video {
    height: 65%;
  } */
  h2 {
    font-size: 4.2rem;
    line-height: 6rem;
  }
  p {
    font-size: 1.7rem;
  }
  .team > .container {
    align-items: flex-start;
  }
  .paragraph {
    margin-top: 10em;
  }
}

@media (min-width: 2000px) {
  .team > .container {
    max-width: 2000px;
  }
}

/* @media (min-height: 700px) {
  .homepage .phone {
    width: 58%;
  }
}

@media (min-height: 900px) {
  .homepage .phone {
    width: 65%;
  }
} */
