:root {
  --color-main: #00b7a9;
}

#homepage {
  overflow-x: hidden;
}

/* Welcome Section */
.welcome {
  background: var(--color-main);
}

#gif {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.welcome h1 {
  font-family: urbane-rounded, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(253, 253, 253);
  text-align: center;
  margin: 0;
}

/* Common */
.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section:nth-child(even) {
  background: #f8f8f6f6;
}

.paragraph {
  width: 100%;
  bottom: 10em;
}

.phone-holder {
  position: relative;
  width: 100%;
  z-index: 2;
}

.phone {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

h2 {
  font-family: urbane-rounded, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--color-main);
}

p {
  font-family: urbane-rounded, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #525252;
  position: relative;
  left: 0.88em;
  line-height: 1.5em;
}

/* Section Team */
.tags_container {
  position: relative;
}

.tags {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* Pips */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.pg-pips {
  opacity: 0;
  display: none;
}

.change {
  opacity: 1;
  display: flex;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

nav {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}
nav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

nav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 8px;
  width: 8px;
  border: 0;
  background: red;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all 0.1s ease-in-out;
}

nav span:after {
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  content: "";
  display: block;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 100%;
  transition: 0.3s;
}

/* Media query */
@media (min-width: 375px) {
  /* 팀 소개 모바일용 수정하기 */
  .container {
    display: block;
    max-width: 375px;
    height: 100vh;
    margin: 0 auto;
  }
  .welcome .container {
    display: flex;
  }
  .welcome h1 {
    font-size: 0.9em;
    letter-spacing: 1px;
    line-height: 2em;
  }
  .paragraph {
    position: static;
    margin-top: 1em;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 0 0;
  }
  p {
    width: 90%;
    font-size: 1.1rem;
  }
  .phone-holder {
    top: 0;
  }
  .homepage .phone video {
    width: 100%;
    position: relative;
  }

  .tags_container {
    height: 0;
  }
  /* .tags {
    position: static;
  } */
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
  .welcome h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 2rem;
    line-height: 3rem;
    margin: 0 0;
  }

  .paragraph {
    margin-top: 5em;
  }

  /* .phone-holder {
    top: -2.5em;
  } */
  .homepage .phone video {
    display: block;
    margin: 0 auto;
    top: 40px;
    left: 10px;
    width: 80%;
    height: 100%;
    z-index: -1;
  }

  .tags {
    bottom: 4em;
  }
  .tags_container {
    height: 0;
  }
}

@media (min-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    max-width: 768px;
    margin: 0 auto;
  }
  .welcome h1 {
    font-size: 1.6em;
    letter-spacing: 5px;
  }
  .paragraph {
    position: relative;
    transform: translateY(-3em);
  }
  h2 {
    font-size: 3rem;
    line-height: 3rem;
    margin: 35px 0;
  }
  p {
    font-size: 1.3rem;
  }
  .phone-holder {
    top: 25em;
  }
  .homepage .phone {
    width: 75%;
    height: 100vh;
    background: url(img/Phone_without_innershadow.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .homepage .phone video {
    top: 0;
    left: -10px;
    height: 50%;
  }

  .tags_container {
    height: 5vh;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
  .welcome h1 {
    font-size: 2em;
  }
  .homepage .phone video {
    top: 0;
    left: -15px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .paragraph {
    margin-left: 2em;
  }
  .welcome h1 {
    font-size: 2.2em;
    letter-spacing: 7px;
  }
  h2 {
    font-size: 4rem;
    line-height: 4rem;
  }
  p {
    font-size: 1.5rem;
  }
  .homepage .phone video {
    top: 80px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
  .homepage .phone-holder {
    width: 80%;
    top: 10em;
  }
  .homepage .phone video {
    height: 65%;
  }
  h2 {
    font-size: 4.2rem;
    line-height: 6rem;
  }
  p {
    font-size: 1.7rem;
  }
}

@media (min-width: 2000px) {
  .team > .container {
    max-width: 2000px;
  }
}
